<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3 mb-5">
            <form action="/campgrounds" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required autofocus>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Title must not be blank.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Location must not be blank.</div>
                </div>
                <!-- <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" name="campground[image]" id="image" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Title must not be blank.</div>
            </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" name="campground[price]" id="price" placeholder="0.00"
                            aria-describedby="price-label" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Price must not be blank.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please fill out description.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Add Images</label>
                    <div class="input-group">
                        <input class="form-control custom-file" type="file" name="image" id="image" multiple>
                        <label class="input-group-text" for="image">Browse</label>
                    </div>
                    <div class="preview text-muted">
                        <p></p>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
                <a class="d-flex" href="/campgrounds/">Cancel</a>
            </form>
        </div>
    </div>