body {
    color: #fff;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1496545672447-f699b503d270?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
    background-size: cover;
    background-position: center;
}

.container-fluid {
    max-width: 70vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255, 0.8);
    margin-left: 1rem;
    border-bottom: 0.2rem solid transparent;
}

.nav-link:hover {
    border-bottom-color: rgba(255,255,255, 0.8);
    color: #047a8f;
}

.nav-link.active {
    color: #fff;
    border-bottom-color: #fff;
}

.btn, .btn:hover {
    color: #333;
}
