<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1478815716600-15f0c3eb8e4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=886&q=80" alt="">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" name="username" id="username" required autofocus>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please fill out username.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password" required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please fill out password.</div>
                        </div>
                        <div class="d-grid"><button class="btn btn-success">Login</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

